.item1{
	width: 200px;
	height: 200px;
	background-color: yellow;
}
.item2{
	width: 300px;
	height: 300px;
	background-color: yellowgreen;
}
.item3{
	width: 400px;
	height: 400px;
	background-color: #000;
}
.item4{
	width: 500px;
	height: 500px;
	background-color: #ddd;
}
.item5{
	width: 600px;
	height: 600px;
	background-color: #f0f0f0;
}
.item6{
	width: 700px;
	height: 700px;
	background-color: #c4c4c4;
}
.item7{
	width: 800px;
	height: 800px;
	background-color: #ad0000;
}
.item8{
	width: 900px;
	height: 900px;
	background-color: #5200e0;
}
.item9{
	width: 950px;
	height: 950px;
	background-color: #929292;
}
.item0{
	width: 850px;
	height: 850px;
	background-color: #bc0fc2;
}
.item11{
	width: 750px;
	height: 750px;
	background-color: #f2ff24;
}
.item12{
	width: 650px;
	height: 650px;
	background-color: #ff9524;
}
.item13{
	width: 550px;
	height: 550px;
	background-color: #24e8ff;
}
.item14{
	width: 450px;
	height: 450px;
	background-color: #24ff39;
}
.item15{
	width: 350px;
	height: 350px;
	background-color: #ffaa24;
}
.item16{
	width: 250px;
	height: 250px;
	background-color: #84197b;
}
.item17{
	width: 150px;
	height: 150px;
	background-color: #197b84;
}
.item18{
	width: 50px;
	height: 50px;
	background-color: #84194c;
}
.item19{
	width: 140px;
	height: 240px;
	background-color: #478419;
}
.item20{
	width: 360px;
	height: 290px;
	background-color: #0d1a04;
}
